<md-toolbar layout="row" layout-align="space-between center" md-colors="temat == 'ciemny' ? {background: 'grey-800'} : {background: 'grey-A100'}">
    <h1 ng-if="!ekranGtSm" class="md-toolbar-tools">Moje konto</h1>
    
    <div ng-if="ekranGtSm" layout="row" layout-align="start">
        <md-button ng-if="!edycja" ng-click="toggleEdycja()" class="no-animate">
            <md-icon  ng-class="temat === 'default' ? 'md-dark' : 'md-light'" aria-label="..." class="material-icons marginTop-3">edit</md-icon>&nbsp;
            <span>edytuj</span>
        </md-button>

        <md-button ng-if="edycja" ng-click="zapiszUzytkownika($event)" class="no-animate">
            <md-icon  ng-class="temat === 'default' ? 'md-dark' : 'md-light'" aria-label="..." class="material-icons marginTop-3">save</md-icon>&nbsp;
            <span>zapisz</span>
        </md-button>
        
        <md-button ng-click="zmienHasloDialog($event)" class="no-animate">
            <md-icon ng-class="temat === 'default' ? 'md-dark' : 'md-light'" aria-label="..." class="material-icons marginTop-3">lock</md-icon>&nbsp;
            <span>zmień hasło</span>
        </md-button>
    </div>
    
    <div layout="row" layout-align="end center">
        <!--{{kto.login}}
        <md-button class="md-icon-button dokladnie40px" aria-label="logout" ng-click="wyloguj();">
            <md-icon aria-label="..." md-colors="::{ color: 'grey-700' }" class="material-icons">power_settings_new</md-icon>
        </md-button>-->
        
        <md-menu>
        <md-button aria-label="Open menu with custom trigger" ng-click="$mdMenu.open()" style="min-width:60px;margin:6px;">
            <md-icon aria-label="..." ng-class="temat === 'default' ? 'md-dark' : 'md-light'" class="material-icons">arrow_drop_down</md-icon>
            <md-icon aria-label="..." ng-class="temat === 'default' ? 'md-dark' : 'md-light'" class="material-icons">person</md-icon>
            
        </md-button>
        <md-menu-content ng-mouseleave="$mdMenu.close()">
            <md-menu-item>
            <md-button  ng-click="przejdzDo(lang+'/myAccount')">
                <md-icon aria-label="..." class="material-icons">face</md-icon>
                {{kto.login}}
            </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
            <md-button ng-click="wyloguj();">
                <md-icon aria-label="..." class="material-icons">power_settings_new</md-icon>
                Wyloguj
            </md-button>
            </md-menu-item>
        </md-menu-content>
        </md-menu>
    </div>
    <md-progress-linear md-mode="indeterminate" ng-show="loaderDanych" class="loaderWtoolbarze md-accent md-hue-3"></md-progress-linear>
</md-toolbar>

<md-card class="noShadow">
                <md-card-content layout="column" layout-gt-xs="row" layout-wrap>

                    <div layout="row" layout-align="center" layout-align-gt-xs="start" flex-gt-xs="50">
                        <md-input-container>
                            <label>użytkownik</label>
                            <input type="text" ng-model="lista.uzytkownik.login" aria-label="username" ng-disabled="!edycja"/>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="center" layout-align-gt-xs="start" flex-gt-xs="50">
                        <md-input-container>
                            <label>adres e-mail (opcjonalnie)</label>
                            <input type="email" ng-model="lista.uzytkownik.email" aria-label="e-mail" ng-disabled="!edycja"/>
                        </md-input-container>
                    </div>
                    
                    <div layout="row" layout-align="center" layout-align-gt-xs="start" flex-gt-xs="50">
                        <md-input-container>
                            <label>domyślny język</label>
                            
                            <md-select ng-model="lista.uzytkownik.lang" class="width198" ng-disabled="!edycja" aria-label="language">
                                <md-option value="en">English</md-option>
                                <md-option value="pl">Polski</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    
                    <div layout="row" layout-align="center" layout-align-gt-xs="start" flex-gt-xs="50">
                        <md-input-container>
                            <label>typ użytkownika</label>
                            
                            <md-select ng-model="lista.uzytkownik.typ" class="width198" ng-disabled="!edycja" aria-label="user type">
                                <md-option value="0">
                                    <span>standardowy</span>
                                </md-option>
                                <md-option value="1">
                                    <span>trener personalny</span>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    
                    <div layout="row" layout-align="center" layout-align-gt-xs="start" flex-gt-xs="50">
                        <md-input-container>
                            <label>schemat kolorów</label>
                            
                            <md-select ng-model="lista.uzytkownik.temat" class="width198" ng-disabled="!edycja" aria-label="language">
                                <md-option value="default">jasny</md-option>
                                <md-option value="ciemny">ciemny</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                   
                </md-card-content>

</md-card>

<md-toolbar ng-if="!ekranGtSm" layout="row" layout-align="space-between center" style="z-index:-999;opacity:0;">
    <h1 class="md-toolbar-tools">tego nie widać, margines dla mobilnych o wielkosci toolbara</h1>
</md-toolbar>

    <md-toolbar ng-if="!ekranGtSm" class="dolnyToolbar" layout="row" layout-align="space-between center">
    
        <md-button class="md-icon-button  no-animate" aria-label="change password" ng-click="zmienHasloDialog($event)">
            <md-tooltip md-direction="top">zmień hasło</md-tooltip>
            <md-icon class="material-icons">lock</md-icon>
        </md-button>

        <md-button ng-if="!edycja" class="md-icon-button no-animate" aria-label="edit" ng-click="toggleEdycja()">
            <md-tooltip md-direction="top">edytuj</md-tooltip>
            <md-icon class="material-icons">edit</md-icon>
        </md-button>
        
        <md-button ng-if="edycja" class="md-icon-button no-animate" aria-label="save" ng-click="zapiszUzytkownika($event)">
            <md-tooltip md-direction="top">zapisz</md-tooltip>
            <md-icon class="material-icons">save</md-icon>
        </md-button>
        
        <md-button class="md-icon-button no-animate" aria-label="menu" ng-click="toggleRight()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>

    </md-toolbar>
