<md-toolbar layout="row" layout-align="space-between center" md-colors="temat == 'ciemny' ? {background: 'grey-800'} : {background: 'grey-A100'}">
    <h1 class="md-toolbar-tools">Moi klienci</h1>
    
                        <md-input-container style="margin:0">
                            <label style="font-size:0.9em;">filtruj</label>
                            <md-icon aria-label="Search" class="material-icons">search</md-icon>
                            <input type="text" ng-model="criteria"/>
                            
                        </md-input-container>
    
    
    <div layout="row" layout-align="end center">
        
        <md-menu>
        <md-button aria-label="Open menu with custom trigger" ng-click="$mdMenu.open()" style="min-width:60px;margin:6px;">
            <md-icon aria-label="..." ng-class="temat === 'default' ? 'md-dark' : 'md-light'" class="material-icons">arrow_drop_down</md-icon>
            <md-icon aria-label="..." ng-class="temat === 'default' ? 'md-dark' : 'md-light'" class="material-icons">person</md-icon>
            
        </md-button>
        <md-menu-content ng-mouseleave="$mdMenu.close()">
            <md-menu-item>
            <md-button  ng-click="przejdzDo(lang+'/myAccount')">
                <md-icon aria-label="..." class="material-icons">face</md-icon>
                {{kto.login}}
            </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
            <md-button ng-click="wyloguj();">
                <md-icon aria-label="..." class="material-icons">power_settings_new</md-icon>
                Wyloguj
            </md-button>
            </md-menu-item>
        </md-menu-content>
        </md-menu>
    </div>
    <md-progress-linear md-mode="indeterminate" ng-show="loaderDanych" class="loaderWtoolbarze md-accent md-hue-3"></md-progress-linear>
</md-toolbar>

<div layout="row" flex layout-wrap style="padding:4px 4px 0" ng-if="lista.potencjalniKlienci">
    <md-card class="noShadow" ng-repeat="t in lista.potencjalniKlienci track by t.id_cwiklacza" style="margin:4px">
        <md-card-content layout="row" layout-gt-xs="row" layout-align="center center" layout-wrap style="padding:4px 0">

            <md-button class="md-icon-button no-animate" aria-label="new">
                <md-icon class="material-icons" md-colors="::{ color: 'accent-300' }">fiber_new</md-icon>
            </md-button>
            
            <div>{{t.login}}</div>
            
            <md-button class="md-raised md-primary noShadow no-animate md-icon-button" style="margin-left:18px;" ng-click="akceptujKlienta($event,t.id,t.login)">
                <md-icon class="material-icons">done</md-icon>
            </md-button>

            <md-button class="md-raised noShadow no-animate md-icon-button" md-colors="::{ background: 'accent-300' }" ng-click="odrzucKlienta($event,t.id,t.login)">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
            
        </md-card-content>

    </md-card>
</div>

<div layout="row" flex layout-wrap style="padding:4px" ng-if="lista.klienci">
    <md-card class="noShadow" ng-repeat="t in lista.klienci | filter:criteria track by t.id_cwiklacza" style="margin:4px">
        <md-card-content layout="row" layout-align="center center" layout-wrap style="padding:4px 0 4px 16px">

            <div class="palec" ng-click="przejdzDo(lang+'/clientTrainings/'+t.id_cwiklacza)">{{t.login}} - l. planów: {{t.ile_planow}}</div>

            <md-button class="md-icon-button no-animate" aria-label="remove" ng-click="usunKlienta($event,t.id,t.login)">
                <md-tooltip md-direction="bottom">usuń z listy klientów</md-tooltip>
                <md-icon class="material-icons">delete</md-icon>
            </md-button>
            
        </md-card-content>

    </md-card>
</div>

<md-toolbar ng-if="!ekranGtSm" layout="row" layout-align="space-between center" style="z-index:-999;opacity:0;">
    <h1 class="md-toolbar-tools">tego nie widać, margines dla mobilnych o wielkosci toolbara</h1>
</md-toolbar>

<md-toolbar ng-if="!ekranGtSm" class="dolnyToolbar" layout="row" layout-align="space-between center">

    <md-button class="md-icon-button no-animate" aria-label="empty"></md-button>



    <md-button class="md-icon-button no-animate" aria-label="menu" ng-click="toggleRight()">
        <md-icon class="material-icons">menu</md-icon>
    </md-button>

</md-toolbar>
